nav
    div.container
        a(href="/").logo.icon-link
            span.icon--camera-lens-fill
            .
                Watch-E
        ul.nav-links.clean
            li
                a(href="/product") #{t('Product')}
            li
                a(href="/faq") #{t('Faq')}
            li
                a(href="/dashboard") #{t('Dashboard')}
        ul.login.clean
            li
                a(href="/user").btn #{t('Sign in')}
        div.menu-toggler.hamburger
            span
            span
            span
        div.mobile-menu
            ul.clean
                li
                    a(href="/product") #{t('Product')}
                li
                    a(href="/faq") #{t('Faq')}
                li
                    a(href="/dashboard") #{t('Dashboard')}
                li
                    a(href="/user/login") #{t('Sign in')}
                li
                    a(href="/user/register") #{t('Sign Up')}