nav
    div.container
        a(href="/").logo.icon-link
            span.icon--camera-lens-fill
            .
                Watch-E
        ul.nav-links.clean
            li
                a(href="/product") #{__('Product')}
            li
                a(href="/faq") #{__('Faq')}
            li
                a(href="/dashboard") #{__('Dashboard')}
        ul.login.clean
            li
                a(href="/register") #{__('Sign in')}
            li
                a(href="/login").btn #{__('Sign Up')}
        div.menu-toggler.hamburger
            span
            span
            span
        div.mobile-menu
            ul.clean
                li
                    a(href="/product") #{__('Product')}
                li
                    a(href="/faq") #{__('Faq')}
                li
                    a(href="/dashboard") #{__('Dashboard')}
                li
                    a(href="/register") #{__('Sign in')}
                li
                    a(href="/login") #{__('Sign Up')}