extends ../../layouts/user.pug

block content
    div.container
        div.header
            div.logo
                span.icon--camera-lens-fill
                .
                    Watch-E
            h1 #{t('Sign Up')}
        form(action="/user/register" enctype='multipart/form-data' method="post")
            div.form-row
                input#login(type="text" name="login" placeholder=" ")
                label(for="login") #{t('Login')}
            div.form-row
                input#email(type="email" name="email" placeholder=" ")
                label(for="email") #{t('E-mail')}
            div.form-row
                input#password(type="password" name="password" placeholder=" ")
                label(for="password") #{t('Password')}
            div.form-row
                input#password-repeat(type="password" name="password-repeat" placeholder=" ")
                label(for="password-repeat") #{t('Password repeat')}
            button.btn.btn--red(type="submit") #{t('Send')}
            hr
            a(href="/user/login").btn #{t('Sign in')}